@import "public/poppins/poppins.css";
@import "utils";

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--app-palette-main);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--app-palette-light);
    border-radius: 5px;
  }
}

body {
  overflow-x: hidden;
  background-color: #eeeeee;
  &[data-is-dark-palettte="true"] {
    background-color: #303030;
  }
}

#root-layout {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
