@import "public/poppins/poppins.css";

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--theme-main);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--theme-light);
    border-radius: 5px;
  }
}

body {
  overflow-x: hidden;
  &[data-theme="light"] {
    background-color: #eeeeee;
  }
  &[data-theme="dark"] {
    background-color: #303030;
  }
}
